<div class="form-section-container">

    <h3>Personal Background</h3>
    <span>Share information about your educational and professional background, including any relevant work experiences and qualifications.</span>
    
    <mat-form-field>
        <span class="fw-bold">Educational Background</span><input matInput type="text" placeholder="Bachelor's degree in Marketing" />
    </mat-form-field>
    <mat-form-field>
        <span class="fw-bold">Current Occupation</span><input matInput type="text" placeholder="Digital Marketing Manager" />
    </mat-form-field>
    <mat-form-field>
        <span class="fw-bold">Relevant Experiences</span><input matInput type="text" placeholder="I have 5 years of experience in digital marketing, specializing in SEO and content marketing." />
    </mat-form-field>
</div>