<div class="form-section-container" [formGroup]="resources">

    <h3>Resources</h3>
    <span>Detail the financial resources you have available for starting a business and any physical resources or assets you can utilize.</span>
    
    <mat-form-field>
        <span class="fw-bold">Budget</span>
        <input matInput type="text" formControlName="budget" placeholder="$1.000" />
    </mat-form-field>
    <mat-form-field>
        <span class="fw-bold">Physical Resources</span>
        <input matInput type="text" formControlName="physicalResources" placeholder="I have access to a fully equipped home office." />
    </mat-form-field>
</div>